* {
  box-sizing: border-box;
}
html,body {
  height: 100%;
}
.con {
  display: flex;
  &-left {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-right {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-main {
    flex: 1;
  }
}